@layer components {
  .tmap-badge {
    background-color: light-dark(var(--colour-mineral-grey), var(--black));
    border-bottom: 2px solid
      light-dark(var(--colour-main-bg), var(--colour-mineral-grey));
    /* border-radius: 0.5rem; */
    padding: 0.1rem 0.25rem;
    line-height: 1.25;
    color: light-dark(var(--black), var(--white));
    white-space: nowrap;
  }
}
