@layer components {
  .conference-map-marker {
    fill: light-dark(var(--colour-green-500), var(--colour-mustard-500));
    stroke: var(--white);
    stroke-width: 1px;
    filter: drop-shadow(1px 1px 1px var(--colour-shadow));
  }

  .conference-map-marker-count {
    fill: light-dark(var(--black), var(--white));
    font-size: 0.75rem;
    stroke-width: 0px;
    pointer-events: none;
    user-select: none;
  }
}
