@layer utils {
  .body-text {
    color: var(--colour-body-text);
    font-family: "Montserrat", serif;
    font-weight: 500;
  }

  .page-level-container {
    --page-min-x-padding: 1.5rem;
    --page-max-content-width: 75rem;
    /*
      Calculate the x/inline padding based on the viewport width and the max content width
      giving the effect of a responsive padding that ensures the content is always centered
      at a maximum width.
    */
    --page-x-padding: clamp(
      var(--page-min-x-padding),
      calc(
        var(--page-min-x-padding) + (100vw - var(--page-max-content-width)) / 2
      ),
      var(--page-max-content-width)
    );
    --page-y-padding: 1rem;
    padding: var(--page-y-padding) var(--page-x-padding);
  }

  .inline-list {
    display: flex;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
  }
}
