@layer components {
  .conference-map-marker-popover {
    box-shadow: var(--shadow-md);
    background-color: var(--colour-main-bg);
    border: 1px solid
      light-dark(var(--colour-green-500), var(--colour-mustard-300));
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    min-width: 10rem;
    max-width: 100svw;
    max-height: 100svh;
    overflow-y: auto;
    opacity: 0; /* effectively used as the exit style. */
    transform: scale(0.8); /* effectively used as the exit style. */
    transition:
      /* transition display too, but to a later time
      as the other transitions,so they can be used
      as an exit transition too. */
      opacity 0.3s ease-out,
      transform 0.3s ease-out,
      display 0.4s;
    transition-behavior: allow-discrete;

    &:popover-open {
      opacity: 1;
      transform: scale(1);

      @starting-style {
        opacity: 0;
        transform: scale(0.8);
      }
    }

    & > *:first-child {
      margin-top: 0;
    }

    & > ul {
      padding: 0;
      margin: 0 0 0 1rem;

      & > li {
        margin-bottom: 1rem;

        & .conference-popover-header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;
          margin-bottom: 0.5rem;

          & > ul {
            display: flex;
            gap: 0.5rem;
            padding: 0;
          }
        }

        & > time {
          color: light-dark(var(--colour-flamingo-800), var(--colour-blue-200));
        }
      }
    }
    & > h4 {
      color: light-dark(var(--colour-green-800), var(--colour-mustard-300));
    }
  }
}
