@layer components {
  .conference-map-marker {
    background-color: light-dark(
      var(--colour-eosine-pink-300),
      var(--colour-eosine-pink-700)
    );
    color: light-dark(
      var(--colour-eosine-pink-950),
      var(--colour-eosine-pink-100)
    );
    border: 1px solid
      light-dark(var(--colour-eosine-pink-950), var(--colour-eosine-pink-100));
    font-size: 0.75rem;
    border-radius: 50%;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
  }

  .conference-map-marker[data-match="false"] {
    background-color: var(--colour-land-bg);
    color: light-dark(
      var(--colour-pyrite-yellow-800),
      var(--colour-pyrite-yellow-200)
    );
    border-color: light-dark(
      var(--colour-land-contour),
      var(--colour-land-contour)
    );
    z-index: 2;
  }
}
