@layer components {
  .conference-map {
    display: block;
    width: calc(var(--page-max-content-width) - 2 * var(--page-min-x-padding));
    background-color: var(--colour-map-bg);

    & .conference-map-parallels {
      fill: none;
      stroke: var(--colour-map-parallels);
      stroke-width: 1px;
      opacity: 0.5;
    }

    & .conference-map-land {
      fill: var(--colour-land-bg);
      stroke: var(--colour-land-contour);
      stroke-width: 1px;
    }
  }
}
