@layer components {
  .conference-map-marker {
    background-color: light-dark(
      var(--colour-mustard-400),
      var(--colour-mustard-500)
    );
    color: light-dark(var(--black), var(--white));
    border: 1px solid light-dark(var(--black), var(--white));
    font-size: 0.75rem;
    border-radius: 50%;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
  }

  .conference-map-marker[data-match="false"] {
    background-color: var(--colour-land-bg);
    color: light-dark(var(--colour-flamingo-800), var(--colour-blue-200));
    border-color: light-dark(
      var(--colour-land-contour),
      var(--colour-land-contour)
    );
    z-index: 2;
  }
}
